/* 
    Document   : account
    Created on : Oct 20, 2012, 5:20:38 PM
    Author     : Andreas
    Description:
        Purpose of the stylesheet follows.
*/

#account_content {
    width: 40em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}