/* 
    Document   : checkout
    Created on : 2012-okt-22, 11:06:48
    Author     : Ossian
    Description:
        Purpose of the stylesheet follows.
*/

#userInfo{
    margin-top: 3em;
    font-size: 2em;
    border: 0.5em;
}

