/* 
    Document   : login
    Created on : Oct 16, 2012, 10:19:25 AM
    Author     : Andreas
    Description:
        Purpose of the stylesheet follows.
*/

#loginform {
    margin: 0 auto;
    width: 20em;
    padding: 5em;
    padding-bottom: 6em;
}

.usernamelabel, .passwordlabel {
    display: block;
    margin-bottom: 0.5em;
    text-align: left;
}

.username, .password {
    display: block;
    margin-bottom: 0.5em;
}

.submit {
    float: left;
    margin-top: 0.5em;
}