/* 
    Document   : login
    Created on : Oct 16, 2012, 10:19:25 AM
    Author     : Andreas
    Description:
        Purpose of the stylesheet follows.
*/

#loginform {
    float: right;
    margin: 3em;
}

#loginform:usernamelabel, #passwordlabel {
    display: block;
    margin-bottom: 0.5em;
    text-align: left;
}

#username, #password {
    display: block;
    margin-bottom: 0.5em;
}

#submit {
    float: right;
    margin-top: 6px;
}